body {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

.navbar {
    height: 65px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /*border: 2px solid red;*/
}

.navbar #logo {
    color: #662346;
    margin-left: 5px;
}

.nav ul {
    text-align: right;
}

.nav > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    font-weight: bold;
    top: 20px;
    right: -190px;
}

.nav > ul > li a {
    color: #662346;
}

.nav > ul > li a:hover {
    color: slategray;

}

.getbtn {
    position: relative;
    top: 30px;
    left: 140px;
    margin-left: 250px;
}

#quotebtn, #startbtn {
    width: 170px;
    height: 50px;
    background-color: #662346;
    border-radius: 5px 5px;
    border: #662346;
}

#quotebtn a,
#startbtn a {
    color: white;
    font-size: 20px;
}

#quotebtn:hover,
#startbtn:hover {
    background-color: slategray;
}

.header {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url("../images/jkiatower.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.headline{
    height: 400px;
    width: 40%;
    margin: auto;
    position: relative;
    top: 200px;
    text-align: center;
    color: #fafafa;
    background-color: rgba(112, 128, 144, 0.397);
     /*border: 2px solid red;*/
}

.contact-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bienvenue {
    margin-bottom: 50px;
    margin-top: 30px;
}

.contact-one input {
    margin: .4rem 0;
    height: 48px;
    width: 40%;
    border: 2px solid #662346;
    border-radius: 5px 5px;
    margin-right: 5px;
    position: relative;
    top: -5px;
    padding-left: 10px;
}

.welcome h2 {
    padding-top: 30px;
    font-size: 40px;
    color: #662346;
}

.about-me {
    background-image: url("../images/marndwn.webp");
    height: 800px;
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    position: relative;
}

.portrait, .portrait-two {
    height: 600px;
    width: 20%;
    margin-right: 20px;
    position: relative;
    top: 12%;
    background-image: url("../images/portrait-ag.png");
    background-repeat: no-repeat;
    border: 2px solid slategray;
    border-radius: 0px 40px 0px 40px;
}

.portrait-two {
    background-image: url("../images/charles.jpg");
    background-size: cover;
}


.aboutme {
    height: 600px;
    width:35%;
    position: relative;
    top: 12%;
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 20px;
    /*border: 2px solid blue;*/
}

.titles h2{
    font-size: 40px;
    color: #662346;
}

.learnmore {
    margin-top: 30px;
}

.styled-header {
    background-image: url("../images/greydwn.webp");
    height: 120px;
    position: relative;
    top: -20px;
}

.service {
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    bottom: 20px;
    /*border: 2px solid green;*/
}

i.fas, i.far, i.fa {
    padding: 5px;
}

.fa-thumbs-up {
    color: #662346;
    font-size: 40px;
    margin-bottom: 5px;
}

.service-head {
    position: absolute;
    height: 160px;
    width: 50%;
    text-align: center;
    /*border: 2px solid red;*/
}

.service-head h2, h3 {
    margin: 0;
    margin-top: 8px;
}

.service-head h2 {
    color: #662346;
}

.service-head h3 {
    color: slategray;
}

.services-offered {
    height: 520px;
    position: relative;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid blue;*/
}

.first-row-services, .second-row-services {
    height: 250px;
    width: 90%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    /*border: 2px solid red;*/
}

.research, .web, .network {
    width: 30%;
    height: 220px;
    margin: auto;
    padding: 10px;
    background-color: #662346;
    border: transparent;
    border-radius: 10px 10px;
    text-align: left;
}

.research h3, .web h3, .network h3 {
    color: #fafafa;
    padding-top: 10px;
}

.research i, .web i, .network i {
    font-size: 30px;
    padding-bottom: 30px;
    border: transparent;
    border-radius: 5px 5px;
    background-color: #6e6868;
    padding: 5px;
    color: white;
}

.research p, .web p, .network p {
    color: #CBCBCB;
}

.motivation {
    background-image: url("../images/greyup.webp");
    background-repeat: no-repeat;
    height: 100px;
}

.skills {
    height: 400px;
    background-color: #CBCBCB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px solid red;*/
}

.progress-bars, .job {
    width: 40%;
    margin: 10px;
    padding-left: 20px;
    align-items: center;
    /*border: 2px solid green;*/
}

.progress-bars h2, .job h2 {
    text-align: center;
    color: #662346;
}

.skills-container {
    width: 80%;
    background-color: #fafafa;
}

.skill {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
}

.html {
    width: 90%;
    background-color: #662346;
}

.css {
    width: 80%;
    background-color: #662346;
}

.js {
    width: 65%;
    background-color: #662346;
}

.php {
    width: 60%;
    background-color: #662346;
}

.motivation-sec {
    background-image: url("../images/greydwn.webp");
    background-repeat: no-repeat;
    height: 100px;
}

.pricing {
    height: 800px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
}

.pay-plan {
    height: 650px;
    position: relative;
    top: 150px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px solid green;*/
}

.standard, .premium {
    position: relative;
    top: 40px;
    height: 550px;
    width: 25%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid slategray;
}

.professional {
    height: 600px;
    width: 25%;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    border: 2px solid slategrey;
}

.professional .top-section {
    height: 160px;
}

.top-section {
    height: 120px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #8F627A;
    border: 2px solid #8F627A;
    color: #fafafa;
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
    padding-top: 25px;
}

.btm-section {
    text-align: center;
    margin: 5px;
}

.btm-section span {
    color: #817e7e;
}

.supp {
    font-size: 40px;
}

.supp sup {
    font-size: 20px;
}

.planbtn {
    
}





